
.transition(@time){
	transition: all @time linear;
	-moz-transition: all @time linear;
	-webkit-transition: all @time linear;
	-o-transition: all @time linear;
}

@1199:~"(max-width: 1199px)";
@939:~"(max-width: 939px)";
@719:~"(max-width: 719px)";
@479:~"(max-width: 479px)";
@320:~"(max-width: 320px)";

body, html {
    background: #f3f3f3;
    font-size: 13px;
    font-family: "Open Sans",Arial;
    line-height: 1.3;
    color: #000000;
    vertical-align: top;
}

a{
	text-decoration: none;

	&:hover{
		text-decoration: none;
	}
}

.row {
    margin: 0px -10px;
    position: relative;
    zoom: 1;
}

h1, h2, h3, h4, h5, h6 {
    margin: 15px 0;
    color: #000000;
    font-size: 22px;
    font-weight: normal;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

input[type="text"]{
    background: #fff;
    border: 1px solid #cccccc;
    -webkit-appearance: none;
    -webkit-box-shadow: inset 0 4px 1px -3px rgba(0,0,0,0.1);
    box-shadow: inset 0 4px 1px -3px rgba(0,0,0,0.1);
    display: block;
    position: relative;
    width: 100%;
    height: 34px;
    margin: 0 0 15px 0;
    padding: 7px 8px;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    vertical-align: top;
    outline: none;
    zoom: 1;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
}

.container {
    width: 1200px;
    min-width: 320px;
    margin: 0 auto;
    padding: 0px 10px;
    position: relative;
    zoom: 1;

		@media@1199 {
			width: 940px;
		}

		@media@939 {
			width: 720px;
		}

		@media@719 {
			width: 480px;
		}

		@media@479 {
			width: 320px;
		}
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
		background: #fff;
		padding: 0px;
		border-bottom: 2px solid #ccc;
}

.header-logo{
	position: absolute;
	width: 66px;
	height: 66px;
	top: 0;
	left: 50%;
	margin-left: -33px;

	@media@719{
		display: none;
	}


	img{
		width: 100%;
	}
}

.header-top{
	height:66px;

	.search-block{
		float: left;
		position: relative;


		.search-input{
			box-shadow: none;
	    width: 348px;
	    border-radius: 0;
	    border: 1px solid #bbb;
	    padding-left: 40px;
	    margin: 0;
			margin-top: 14px;

			&:focus{
				border: 1px solid black;
			}

			@media@939{
				width: 200px;
				margin-left: 50px;
			}
		}
	}
}

.header-bottom {
  padding: 0;
  margin: 0 auto;
  position: relative;
  border-top: 1px solid #ededed;

	@media@1199{
		display: none;
	}

	ul{
		display: flex;
		justify-content: space-between;
		padding-left: 0px;
		margin-bottom: 0px;
		overflow: hidden;

		li{
			display: inline;
			margin: 0;
			padding: 15px 31px;
			font-size: 13px;
			cursor: default;
			margin: 0;
			display: block;
			.transition(200ms);

			a{
				color: #292d2e;
				.transition(200ms);
				text-decoration: none;
			}

			&:hover a{
				color:#C9282A;
				.transition(200ms);
			}
		}
	}
}

#content{
	margin-top: 115px;

	@media@1199{
		margin-top: 65px;
	}
}

.b-breadcrumb {
  background: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 30px;

	.breadcrumb {
	  display: inline-block;
		margin-bottom: 0px;
	  padding: 0 10px;
	  position: relative;
	  height: 20px;
	  line-height: 20px;
	  background: #fff;
	  -webkit-border-radius: 4px;
	  border-radius: 4px;
	  font-size: .6875rem;
	  vertical-align: middle;
	  color: #000;
	  border: 0;
	  background: #f1f1f1;
	  text-transform: uppercase;
	}

	.b-breadcrumb_current {
    color: #999;
    margin-left: 5px;
    font-size: 12px;
	}
}

.cat-slider-block{
	width: 422px;
	float: left;
	background: #fff;
	padding: 20px 20px 7px 20px;

		@media@1199{
			width: 302px;
			height: 360px;
		}

	.slider-for{
	  border: 1px solid #ebebeb;
		overflow: hidden;

		@media@1199{
			width: 262px;
			height: 240px;
		}

		div{
			display: table;
		}

		img{
	    vertical-align: middle;
	    max-width: 378px;
	    max-height: 356px;
			margin-left: 12px;

			@media@1199{
				max-width: 235px;
				max-height: 240px;
			}
		}

		iframe{
			display: inline-block;
	    vertical-align: middle;
	    max-width: 380px;
	    max-height: 356px;
	    width: 100%;
	    height: 356px;

			@media@1199{
				max-width: 260px;
				max-height: 240px;
			}
		}
	}

	.slick-slider{
		margin-bottom: 15px;
	}

	.slider-nav{

		.slick-track {
	    position: relative;
	    top: 0;
	    left: 0;
	    display: block;
		}
		.slider-nav-item{
			border: 1px solid #ebebeb;
	    width: 72px;
	    height: 72px;
	    margin-right: 5px;
	    margin-top: 2px;
	    margin-bottom: 2px;
	    display: table;
	    outline: 0;
	    text-align: center;
	    font-size: 0;
			position: relative;

			@media@1199{
				height: 55px;
				padding: 5px;
			}
		}

		.slick-current{
    border-color: #da2028;
		}

		img {
			width: : 100%;
			max-height: 70px;
			max-width: 70px;
			display: inline-block;
			vertical-align: middle;
		}
	}

}

.cat-info-block{
	float: left;
	padding: 20px 40px 33px;
	width: 768px;
	height: 387px;
	background: #fff;
	margin-left: 10px;
	position: relative;
	zoom: 1;

	@media@1199{
		width: 628px;
		padding: 15px 35px 30px;
		height: 360px;
	}

	.b-catalog-item-text-h {
    margin: 10px 0 5px 0;
    font-size: 16px;
    color: #1a1a1a;
    font-weight: normal;
		margin-left: -35px;
	}

	.b-catalog-item-text {
    margin: 5px 0 5px 0;
    font-size: 14px;
    color: #666;
    font-weight: normal;
	}

	ul{
		width: 50%;
		float: left;
		height: 235px;
		overflow: hidden;

		li{
			margin: 0 0 3px 0;
			font-size: 14px;
			color: #666;
			font-weight: normal;
			list-style: circle;
		}
	}
}

.b-catalog-item-features {
  background-color: #fff;
  position: relative;
  margin: 10px 0px 10px 10px;
  width: 768px;
  float: left;
  border: 0;
  padding: 10px;

	@media@1199{
		margin: 10px 0 13px 0px;
		width: 100%;
	}

	.b-catalog-item-feature {
    width: 240px;
    padding: 17px 9px 16px;
    font-size: 11px;
    vertical-align: top;
    float: left;
    cursor: pointer;
    position: relative;
		zoom: 1;
		margin-right: 8px;
		.transition(200ms);

		&:hover{
		background-color: #f7cc37;
		.transition(200ms);
		}

		 p{
			width: 160px;
			float: left;
			margin: 4px 0 0 0;
			padding: 0;
			color: #4c4c4c;
		}

		.icon-shipment {
			background-image: url('https://opt-604117.ssl.1c-bitrix-cdn.ru/local/templates/tn-2015/img/sprite.png?300920151330');
			background-position: 0px -304px;
			width: 40px;
			height: 40px;
			display: block;
			float: left;
			margin-right: 8px;
		}

		.icon-calc {
			background-image: url('https://opt-604117.ssl.1c-bitrix-cdn.ru/local/templates/tn-2015/img/sprite.png?300920151330');
		  background-position: -256px -153px;
		  width: 40px;
		  height: 40px;
		  display: block;
		  float: left;
		  margin-right: 7px;
		}

		.icon-delay {
			background-image: url('https://opt-604117.ssl.1c-bitrix-cdn.ru/local/templates/tn-2015/img/sprite.png?300920151330');
	    background-position: 0px -256px;
	    width: 40px;
	    height: 40px;
	    display: block;
	    float: left;
	    margin-right: 7px;
		}
	}
}

.mt10{
	margin-top: 10px;
}

.box-container{
	background: #fff;
	margin-bottom: 20px;
}

.cat-selection-block{
	padding: 10px 30px;
	line-height: 22px;
}

.b-page-heading {
    margin-left: 0px;
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 24px;
    line-height: 30px;
}

.b-heading-divider {
    margin-bottom: 30px;
    width: 60px;
    height: 2px;
    background-color: #DA2028;
}
